%head
  %script{src: "https://www.google.com/jsapi", type: "text/javascript"}

%body
  %h1 Moves Points

  %p
    Welcome! (Moves ID: #{@user.moves_user_id})

  %p
    You have #{'%.0f' % @user.total_points} total points.

  #chart_div


  %h2 Points by Week
  %ul
    - @user.points_by_week.reverse.each do |report_item|
      %li
        Week of #{report_item[:week_starting_on]}: #{'%.0f' % report_item[:points]}

  = link_to 'Logout', logout_path

:javascript
  $(function() {
    summary(#{@user.chart_data});
  });
